header {
    color: #D0DCE8;
}

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 60px;
    padding: 1em;
}

.top-nav .logo-container img {
    width: 50px;
    height: 50px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu > a {
    margin: 0 1rem;
}

.menu > a:hover {
    color: #28E0B2;
}
  
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: darkblue;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
  
.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.top-nav .open-app {
    background-image: linear-gradient(170deg, #28E0B27A 0%, #28E0B2B5 100%);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: #28E0B2;
    border-radius: 8px 8px 8px 8px;
}

.top-nav .open-app:hover{
    position: relative;
    bottom: 5px;
    color: black;
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

@media (max-width: 700px) {    
    .top-nav {
        flex-wrap: wrap;
    }

    .top-nav .logo-container {
        flex: 20%;
    }

    .top-nav .open-app {
        border-radius: 0;
        background-color: white;
    }

    .top-nav .open-app:hover {
        position: static;
        bottom: 5px;
        transition: none;
    }

    .top-nav .open-app:hover button {
        border: none;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 15px;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle:not(:checked) ~ div > .menu a {
        display: none;
    }

    #menu-toggle ~ div > .menu a {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 2000ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ div > .menu a {
      border: none;
      height: 2.5em;
      padding: 0.5em;
      transition: height 2000ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu > a {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: rgb(26, 86, 219);
      background-color: rgba(255, 255, 255);
    }

    .menu > a:hover {
        color: rgb(26, 86, 219);
    }

    .menu > a:not(:last-child) {
      border-bottom: 1px solid #444;
    }
}