.text-shadow-green{
    text-shadow: 0px 0px 42px #28e0b2;
    background-color: #D0DCE800;
    color:#4CFFAB;
}

.text-white{
    color:black;
}
.container{
    margin: auto;
}
.token-container{
    margin: 4px 4px 4px 4px;
    padding: 50px 35px 50px 35px;
    background-color: #50626517;
    border-radius: 15px 15px 15px 15px;

}
body{
    background-image: url('/assets/back-desk-min.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #D0DCE8;
    --e-global-color-primary: #D0DCE8;
}
.banner{
    min-height: 800px;
}
@media (min-width: 1280px){
    .container {
        max-width: 1130px;
    }
}
.overlay{
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.13;
    transition: background 0.3s;


}
.banner .overlay{
    background-image: url('/assets/back1-1-min.png');
    
}
.play .overlay{
    background-image: url("/assets/back3-min.png");
    opacity: 1;
    z-index: -1;
}